<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="w3-container">
  <h3 class="w3-margin w3-padding-16" style="text-shadow:1px 1px 0 #444">
    Crear Producto
  </h3>
</div>

<form class="w3-container " action="">
<div id="Flight" class="w3-container w3-white w3-padding-16 myLink">
  <h3 class="w3-center">
    Por favor digite el siguiente formulario para crear un producto
  </h3>
  <div class="w3-row-padding" style="margin:0 -16px;">
    <div class="w3-col m4">
      <label>Nombre</label>
      <input [(ngModel)]="product.name" name="first" class="w3-input w3-border" type="text" placeholder="Nombre" />
    </div>
    <div class="w3-col m4">
      <label>precio</label>
      <input [(ngModel)]="product.price" name="first" class="w3-input w3-border" type="number" placeholder="precio" />
    </div>
    <div class="w3-col m4">
      <label>Codigo</label>
      <input [(ngModel)]="product.code" name="first" class="w3-input w3-border" type="text" placeholder="codigo" />
    </div>
  </div>
  <div class="w3-row-padding" style="margin:0 -16px;">
    <h4>Descripción</h4>
    <textarea [(ngModel)]="product.description" name="first" class="w3-input w3-border" type="text"> </textarea>
  </div>
  <p class="w3-center"><button (click)="addProduct()" class="w3-button w3-green">agregar</button></p>
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="w3-container">
  <h3 class="w3-margin w3-padding-16" style="text-shadow:1px 1px 0 #444">
    Eliminar o modificar Producto
  </h3>
</div>
</form>
<form class="w3-container " action="">
<div id="Flight" class="w3-container w3-white w3-padding-16 myLink">
  <h3 class="w3-center">Escoja el producto que desea agregar o modificar</h3>
  <div class="w3-row-padding" style="margin:0 -16px;">
    <div class="w3-col m4">
      <label>Nombre</label>
      <div class="">
        <select  class="w3-select" name="Seleccione Producto">
          <option value="1">hola</option>
        </select>
      </div>
    </div>
    <div class="w3-col m4">
      <label>precio</label>
      <div class="">
        <select  class="w3-select" name="Seleccione Producto">
          <option value="1">hola</option>
        </select>
      </div>
    </div>
    <div class="w3-col m4">
      <label>Codigo</label>
      <div class="">
        <select  class="w3-select"name="Seleccione Producto">
          <option value="1">hola</option>
        </select>
      </div>
    </div>

    <div class="w3-container w3-white w3-padding-16 myLink">
      <div class="w3-row-padding" style="margin:0 -16px;">
        <p class="w3-col m6 w3-center">
          <button class="w3-button w3-red">Eliminar</button>
        </p>
        <p class="w3-col m6 w3-center">
          <button class="w3-button w3-yellow">Modificar</button>
        </p>
      </div>
    </div>
  </div>
</div>
</form>