

  <div class="select">
    <select [(ngModel)]="selectedProduct" name="Seleccione Producto">
      <option [value]="product.nombre" *ngFor ="let product of products" >{{product.nombre}}</option>
    </select>
  </div>
  <br>
    <button (click)="createProduct()" class="button button1">
      Agregar Producto
    </button>
  
<p>{{users}}</p>
  
    <table class="blueTable">
        <th>Producto</th>
        <th>Valor</th>
        <th>Retirar</th>
      <tr *ngFor ="let user of users"><td>{{user.nombre}}</td><td>$ {{user.precio}}</td>
    <button (click)="deleteUser(user)" class="button button3">
        X
      </button>
    </tr>
    <tfoot>
        <tr>
        <td>Total Compra: </td>
        <td >$ {{Total}}</td>
        </tr>
        </tfoot>

</table>


