<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h3 class="w3-margin w3-padding-16" style="text-shadow:1px 1px 0 #444">Cedula del Cliente: {{Cliente.Documento}}</h3>
  <div class="w3-row w3-center">
    <div class="w3-col m5 l5 w3-margin">
      <div>
        <h2 class="w3-title">Ingrese Cliente</h2>
      </div>
      <div class="select">
        <select [(ngModel)]="selectedClient" name="Seleccione Cliente" (change)="onChannge(selectedClient)">
          <option [value]="client.Nombre" *ngFor="let client of clients">{{client.Nombre}}  </option>
        </select></div>
    </div>
    <div class="w3-col m5 l5 w3-margin">
      <div>
        <h2 class="w3-title">Agregue Productos</h2>
      </div>
      <div class="select">
        <select [(ngModel)]="selectedProduct" name="Seleccione Producto" (change)="CanBuy()">
          <option [value]="product.name" *ngFor="let product of products">{{product.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<br>
<div class="w3-center">
<button [disabled]="ButtonAdd" (click)="createProduct()"  class="w3-btn w3-white w3-border w3-border-green w3-round-large">
  Agregar Producto
</button>
</div>

<p>{{users}}</p>

<table class="blueTable w3-margin w3-padding-16" style="width:95%">
  <th>codigo</th>
  <th>Producto</th>
  <th>Valor</th>
  <th>Descripcion</th>
  <th>Retirar</th>
  <tr *ngFor="let user of users">
    <td>{{user.code}}</td>
    <td>{{user.name}}</td>
    <td>$ {{user.price}}</td>
    <td>{{user.description}}</td>
    <button (click)="deleteUser(user)" class="button button3">
      X
    </button>
  </tr>
  <tfoot>
    <tr>
      <td> </td>
      <td>Total Compra: </td>
      <td>$ {{Total}}</td>
    </tr>
  </tfoot>
</table>
<br><br>
<div class="w3-center">
    <button [disabled]="ButtonBuy" (click)="makeBuy()" class="w3-btn w3-white w3-border w3-border-blue w3-round-large">
      Realizar Compra
    </button>
</div>
<br>
<br>
<div [hidden]="showBill" class="w3-container w3-card-4 w3-margin w3-padding-16" style="width:80%">
    <h2>Factura</h2>
    <h3>{{date}}</h3>
    <br>
    <pre><h4 aling= "left">Cliente:</h4> <br> Nombre: {{Cliente.Nombre}} <br> Cedula: {{Cliente.Documento}}
    </pre>
  
    <table class="w3-table-all w3-center">
      <tr>
        <th>Cantidad</th>
        <th>Codigo</th>
        <th>Articulo</th>
        <th>Precio Unitario</th>
        <th>Precio Total</th>
      </tr>
      <tr *ngFor="let article of compra.data">
        <td>{{article.cantidad}}</td>
        <td>{{article.code}}</td>
        <td>{{article.name}}</td>
        <td>$ {{article.priceXUnidad}}</td>
        <td>$ {{article.priceTotal}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Sub-Total</b></td>
        <td>$ {{compra.compra.precioTotal}}</td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><b>Iva</b></td>
          <td>$ {{compra.compra.soloIva}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Total</b></td>
            <td>$ {{compra.compra.precioTotalIva}}</td>
          </tr>
    </table>
  </div>

<div [hidden]=true>
  <pre>
  selectedProduct {{users|json}}
  </pre>
</div>
   