.hello-w{
    background: #000; 
    color: #fff;
}
.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 40px;
    padding: 40px 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
